<a href="https://colab.research.google.com/github/maykonryan7/tecnicasdeprograma-o/blob/main/python_EngSoft_Maykon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

aluno:maykon ryan

turma:n1

diciplina: tecnicas de programação

![baixados.jpg]()

# LISTA 1

In [ ]:
# Operadores
a = 10
b = 10
print(f"{a + b}")
print(f"{a - b}")
print(f"{a * b}")
print(f"{a / b}")
print(f"{a // b}")
print(f"{a % b}")
print(f"{a ** b}")

In [ ]:
'''
Operadores textuais
° concatenação: + (juntar, é o & do flowgorithm)
° repetiçao?: * (repetir ou mutiplicar)
'''
facul = "UDF"
print (f"Eu quero ir embora da {facul}", (10*2)) #exemplo de concatenação

In [ ]:
# questao 1
print("Meu primeiro programa!!!")

In [ ]:
# questao 2
num = int(input("Digite um numero: "))
print(num)

In [ ]:
# questao 3
num = int(input("Digite um numero: "))
print(f"Foi informado o valor: {num}")

In [ ]:
# questao 4
num1 = int(input("Digite um numero: "))
num2 = int(input("Digite outro numero: "))
print(f"Voce informou os numeros: {num1} e {num2}")

In [ ]:
# questao 5
num = float(input("Digite um numero real: "))
print(f"Voce informou o numero {num:.2f}")

In [ ]:
# questao 6
c = float(input("Digite a temperatura em graus Celsius: "))
f = c * 1.8 + 32
print(f"A temperatura em Fahrenheit é: {f:.2f}")

In [ ]:
# questao 7
num1 = int(input("Digite um numero: "))
num = float(input("Digite um numero real: "))
print(f"Voce informou os numeros: {num1} e {num:.2f}")

In [ ]:
# questao 8
name = input("Digite seu nome: ")
print(f"Voce digitou: {name [0]}")

In [ ]:
# questao 9
cor = input("Digite o nome da sua cor preferida: ")
print(f"Voce gosta da cor {cor * 3}")

In [ ]:
# questao 10
v = input("digite nome de uma verdura: ")
f = input("digite nome de uma fruta: ")
print(f"Voce gosta de {v * 6} e {f * 6}")

In [ ]:
# questao 11
num = int(input("digite um numero: "))
print(f"o numero é {num}")
print(f"o dobro do numero é {num * 2}")

In [ ]:
# questao 12
num = int(input("digite um numero: "))
print(f"o numero é {num}")
print(f"o quadrado do numero é {num ** 2}")
print(f"o cubo do numero é {num ** 3}")

In [ ]:
# questao 13
num1 = int(input("Digite um numero: "))
num2 = int(input("Digite outro numero: "))
soma = num1 + num2

print(f"Os numeros {num1} e {num2} somados resultam em {soma}")

In [ ]:
# questao 14
num1 = float(input("Digite o primeiro numero real: "))
num2 = float(input("Digite o segundo numero real: "))
soma = num1 + num2
print(f"Os numeros {num1} e {num2} corresponde a {soma}")

In [ ]:
# questao 15
num1 = float(input("Digite o primeiro numero real: "))
num2 = float(input("Digite o segundo numero real: "))
soma = num1 * num2
divisao = num1 / num2
mutiplicar = num1 * num2
subtracao = num1 - num2
print(f"Os numeros {num1} e {num2} corresponde a {soma}")
print(f"Os numeros {num1} e {num2} corresponde a {divisao}")
print(f"Os numeros {num1} e {num2} corresponde a {mutiplicar}")
print(f"Os numeros {num1} e {num2} corresponde a {subtracao}")

# Lista 2 - Estruturas condicionais (IF, ELIF, ELSE)

In [ ]:
# questao 1

num = float(input("Digite um numero: "))

if num >= 10:
    print(f"O numero {num} é maior que 10")
else:
    print(f"O numero {num} é menor que 10")

In [ ]:
# questao 2
num = float(input("Digite um numero: "))

if num > 10:
    print(f"O numero {num} é maior que 10")
elif num == 10:
    print(f"O numero {num} é igual a 10")
elif num <10:
    print(f"O numero {num} é menor que 10")

In [ ]:
# questao 3

num = int(input("Digite um numero: "))

if num % 2 == 0:
    print(f"O numero {num} é par")
else:
    print(f"O numero {num} é impar")

In [ ]:
# questao 4
num = float(input("Digite um numero: "))

if num > 0:
    print(f"O numero {num} positivo")
elif num == 0:
    print(f"O numero {num} é nulo")
elif num < 0:
    print(f"O numero {num} é negativo")

In [ ]:
# questao 5
num = int(input("digite um numero: "))
if num % 3 == 0:
    print(f"o numero {num} é multiplo de 3")
else:
    print(f"o numero {num} não é multiplo de 3")

In [ ]:
# questao 6
num1 = int(input("Digite o um número teste: "))
num2 = int(input("Digite o um número inteiro: "))

# Testa o primeiro número
if num1 % 3 == 0 and num2 % 3 == 0:
    print(f"Os números {num1} e {num2} são múltiplos de 3.")
elif num1 % 3 == 0:
    print(f"O número {num1} é múltiplo de 3, mas {num2} não é.")
elif num2 % 3 == 0:
    print(f"O número {num2} é múltiplo de 3, mas {num1} não é.")
else:
    print(f"Nem {num1} nem {num2} são múltiplos de 3.")

In [ ]:
#Questão 7
num = int(input("Digite um número inteiro: "))
if num % 2 == 0:
    print("O número é par")
else:
    print("O número é ímpar")

In [ ]:
#Questão 8
num = float(input("Digite um número: "))
if num > 20:
    print("Metade do número:", num / 2)
else:
    print("Dobro do número:", num * 2)

In [ ]:
#Questão 9
num1 = int(input("Digite o primeiro número inteiro: "))
num2 = int(input("Digite o segundo número inteiro: "))
soma = num1 + num2
if soma > 10:
    print("Quadrado da soma:", soma ** 2)
else:
    print("Metade da soma:", soma / 2)

In [ ]:
#Questão 11
nome1 = input("Nome da primeira pessoa: ")
peso1 = float(input("Peso da primeira pessoa: "))

nome2 = input("Nome da segunda pessoa: ")
peso2 = float(input("Peso da segunda pessoa: "))

if peso1 > peso2:
    print(f"A pessoa mais pesada é {nome1}")
elif peso2 > peso1:
    print(f"A pessoa mais pesada é {nome2}")
else:
    print("Ambas as pessoas têm o mesmo peso")

In [ ]:
#Questão 12
num = float(input("Digite um número: "))
if 20 <= num <= 90:
    print("O número está entre 20 e 90")
else:
    print("O número NÃO está entre 20 e 90")

In [ ]:
#Questão 13
num1 = float(input("Digite o primeiro número: "))
num2 = float(input("Digite o segundo número: "))

if num1 > num2:
    print(f"{num1} é maior que {num2}")
elif num2 > num1:
    print(f"{num2} é maior que {num1}")
else:
    print("Os números são iguais")

In [ ]:
# Questão 14 Solicita a média mínima para aprovação
media_minima = float(input("Digite a média mínima para aprovação: "))

# Solicita os dados do aluno
nome = input("Digite o nome do aluno: ")
sexo = input("Digite o sexo do aluno (M/F): ").strip().upper()

# Solicita as 3 notas
nota1 = float(input("Digite a primeira nota: "))
nota2 = float(input("Digite a segunda nota: "))
nota3 = float(input("Digite a terceira nota: "))

# Calcula a média
media = (nota1 + nota2 + nota3) / 3

# Determina se foi aprovado ou reprovado
aprovado = media >= media_minima

# Escolhe o artigo e a forma correta para "aprovado"
if sexo == 'M':
    artigo = "O aluno"
    status = "aprovado"
elif sexo == 'F':
    artigo = "A aluna"
    status = "aprovada"
else:
    artigo = "O(a) aluno(a)"
    status = "aprovado(a)"  # neutro para entrada inválida ou não-binária

# Exibe o resultado
if aprovado:
    print(f"{artigo} {nome} foi {status} com média {media:.2f}")
else:
    status = "reprovado" if sexo == 'M' else "reprovada"
    if sexo not in ['M', 'F']:
        status = "reprovado(a)"
    print(f"{artigo} {nome} foi {status} com média {media:.2f}")

# lista 3

In [ ]:
'''
1. Elabore um algoritmo que imprima na tela lado a lado o texto "Hello World!" 10 vezes
'''

print("Hello World! " * 10)

In [ ]:
"2. Elabore um algoritmo que imprima na tela o texto "Hello World!" 10 vezes, um por linha.


for _ in range(10):
    print("Hello World!")

In [ ]:
"3. Elabore um algoritmo que imprima todos os números inteiros de 1 até 100 inclusive.

for i in range(1, 101):
    print(i)

In [ ]:
"4. Elabore um algoritmo que imprima 100 vezes o texto "1- Hello World!" com o número.
for i in range(1, 101):
    print(f"{i}- Hello World!")

In [ ]:
"5. Elabore um algoritmo que imprima todos os números decrescentes de 100 até 0 inclusive
for i in range(100, -1, -1):
    print(i)

In [ ]:
"6. Elabore um algoritmo que imprima todos os números pares inteiros de 1 até 1000
for i in range(2, 1001, 2):
    print(i)

In [ ]:
"7. Elabore um algoritmo que imprima todos os números ímpares de 1000 até 0
for i in range(999, -1, -2):
    print(i)

In [ ]:
"8. Elabore um algoritmo que imprima a soma dos 100 primeiros números inteiros positivos.

soma = sum(range(1, 101))
print("Soma:", soma)

In [ ]:
"9. Elabore um algoritmo que solicite ao usuário um número inteiro que indicará a quantidade

n = int(input("Quantas vezes imprimir 'Hello World!'? "))
for _ in range(n):
    print("Hello World!")

In [ ]:
'10. Elabore um algoritmo que solicite ao usuário uma palavra e um número inteiro que

palavra = input("Digite uma palavra: ")
n = int(input("Quantas vezes deseja imprimir? "))
for _ in range(n):
    print(palavra)

In [ ]:
"11
n = int(input("Quantos números deseja inserir? "))
soma = 0
for _ in range(n):
    numero = float(input("Digite um número: "))
    soma += numero
media = soma / n if n > 0 else 0
print("Soma:", soma)
print("Média:", media)

In [ ]:
"12
n = int(input("Quantas pessoas? "))
mais_velho_nome = ""
mais_velho_idade = -1
for _ in range(n):
    nome = input("Nome: ")
    idade = int(input("Idade: "))
    if idade > mais_velho_idade:
        mais_velho_nome = nome
        mais_velho_idade = idade
print("Pessoa mais velha:", mais_velho_nome)

In [ ]:
'13

n = int(input("Quantas pessoas? "))
soma_m = soma_f = qtd_m = qtd_f = 0
for _ in range(n):
    sexo = input("Sexo (M/F): ").strip().upper()
    idade = int(input("Idade: "))
    if sexo == 'M':
        soma_m += idade
        qtd_m += 1
    elif sexo == 'F':
        soma_f += idade
        qtd_f += 1
media_m = soma_m / qtd_m if qtd_m else 0
media_f = soma_f / qtd_f if qtd_f else 0
print("Média idade Masculino:", media_m)
print("Média idade Feminino:", media_f)

In [ ]:
"14

numeros = [float(input(f"Digite o {i+1}º número: ")) for i in range(10)]
print("Maior:", max(numeros))
print("Menor:", min(numeros))

In [ ]:
"15
numeros = []
while True:
    num = float(input("Digite um número (0 para sair): "))
    if num == 0:
        break
    numeros.append(num)
numeros.sort()
print("Números ordenados:", numeros)

In [ ]:
"16

idades = []
while True:
    resposta = input("Deseja informar idade de um aluno? (S/N): ").strip().upper()
    if resposta != 'S':
        break
    idade = int(input("Digite a idade: "))
    idades.append(idade)

if idades:
    mais_novo = min(idades)
    mais_velho = max(idades)
    maiores_18 = sum(1 for i in idades if i > 18)
    menores_ou_18 = len(idades) - maiores_18
    media = sum(idades) / len(idades)
    idades.sort()
    meio = len(idades) // 2
    if len(idades) % 2 == 0:
        mediana = (idades[meio - 1] + idades[meio]) / 2
    else:
        mediana = idades[meio]
    print("Mais novo:", mais_novo)
    print("Mais velho:", mais_velho)
    print("Mais de 18 anos:", maiores_18)
    print("Até 18 anos:", menores_ou_18)
    print("Média:", media)
    print("Mediana:", mediana)
else:
    print("Nenhuma idade foi informada.")